{% if comments %}      
    {% for comment in comments %}
        <div class="cdata">
        <div class="col-md-1">
            <a href="{{ url('delete_comment', {id: comment.id })}}" data-role="delete"><i class="glyphicon glyphicon-trash"></i></a>
        </div>
        <div class="col-md-11">
            {% include 'comment.twig' with {comment: comment} %}
        </div>           
        </div>
    {% endfor %}                    
{% else %}
    {% include 'nocomments.twig' %}
{% endif %}                